body{
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#header{
    max-width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 255);
    font-size: 1.5em;
    padding: 3px;
    max-height: 170px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}


#header-span{
    font-size: 2em;
}

.subheader{
    background-color: white;
    width: 100%;
    display: flex;
    color: black;
    font-weight: 800;
}

#sub-1{
    width: 25%;
    text-align: right;
}

#sub-t{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 25%;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

#sub-2{
    width: 25%;
    text-align: center;
}

#sub-3{
    width: 25%;
    text-align: left;
}


.container{
    max-width: 50%;
    margin: 0 auto;
}

.square-box{
    padding-bottom: 28%;
    float: left;
    width: 30%;
    background-color: rgb(112, 113, 0);
    border-radius: 15px;
    margin: 1.66%;
}