body{
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h3{
    margin: 0;
}
#header{
    max-width: 100%;
    text-align: center;
    background-color: rgb(184, 86, 4);
    font-size: 1.7em;
    font-weight: 900;
    padding: 20px 0;
    max-height: 170px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 0;
    letter-spacing: 1px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#header-span{
    font-size: 2.5em;
    font-weight: 700;
}


.subheader{
    background-color: white;
    width: 100%;
    color: black;
    margin: 0;
    text-align: center;
    padding: px 0;
}

button{
    color:rgb(0, 0, 0);
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    width: 10%;
    height: 50px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: inherit;
    margin: 0 5px;
    padding: 10 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

button:hover, .clicked-button{
    background-color: rgb(184, 86, 4);
    color: white; 
    border: none;
}

button:focus{
    outline: 0;
}

.reset-button{
    background: white;
    color: black;
    border: none;
}

#sub-t{
    font-size: 0.8em;
    display: inline-block;
    width: 31%;
}

.selected-complexity{
    background: rgb(184, 86, 4);
    color: white;
}


.container{
    max-width: 50%;
    margin: 0 auto;
}

.square-box{
    padding-bottom: 28%;
    float: left;
    width: 30%;
    background-color: rgb(112, 113, 0);
    border-radius: 15px;
    margin: 1.66%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    
}