body{
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    max-width: 100%;
    text-align: center;
    background-color: blue;
    font-size: 1.5em;
    padding: 3px;
    max-height: 170px;
}

#header-span{
    font-size: 2em;
}

.subheader{
    background-color: white;
    width: 100%;
    display: flex;
    color: black;
    font-weight: 800;
}

#sub-1{
    width: 35%;
    text-align: right;
    padding-left: 5%;
}

#sub-t{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 15%;
    text-align: center;
    padding-left: 5%;
    text-transform: capitalize;
}

#sub-2{
    width: 25%;
    text-align: right;
    padding-left: 3%;
}

#sub-3{
    width: 30%;
    text-align: left;
    padding-left: 1%;
}


.container{
    max-width: 50%;
    margin: 0 auto;
}

.square-box{
    padding-bottom: 28%;
    float: left;
    width: 30%;
    background-color: rgb(112, 113, 0);
    border-radius: 15px;
    margin: 1.66%;
}